/* Custom gradient background for Home page */
.home-gradient {
  position: relative;
  min-height: 100vh;
  padding-top: 5rem;
  background: linear-gradient(135deg, rgb(32,89,131) 0%, rgb(20,28,68) 50%, hsl(250.82deg 58.1% 20.59%) 100%);
}

.home-button-1{
    background-color:  oklch(0.65 0.17 254.68);
    transition: all ease-in 65ms;
    
}
.home-button-1:hover{
    background-color: oklch(40.508% 0.18625 271.443);
    border: 2px solid oklch(0.65 0.17 254.68);
}


.home-button-2{
    transition: all ease-in 65ms;
}
.home-button-2:hover{
    background-color: oklch(0.65 0.17 254.68);
    color:  rgb(20,28,68);

}

.hamburger-dropdown{
    background: linear-gradient(135deg, rgb(19, 52, 77) 0%, rgb(20,28,68) 50%, hsl(250.82deg 58.1% 20.59%) 100%);
    transition: left 350ms ease-in-out;
}


.hamburger-dropdown.show{
    left:0;
}

.hamburger-dropdown.hide{
    left:100vw;
    
}

